.buttons {
    display: flex;
    height: 300px;
    width: 500px;
}
.digit-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.operator-buttons {
    display: flex;
    flex-direction: column;
    height: 200px;
}
.display {
    height: 25px;
    background-color: aquamarine;
}